<ul class="list-group" *ngFor="let cart of carts ">
   <li class="list-group-item"> <h4>{{cart.name}} {{cart.price}}$</h4> <button class="float-right btn btn-primary"  (click)="delete(cart.id)"><i class="fa fa-trash" aria-hidden="true"></i></button> </li>
   
    
    <!-- <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li> -->
  
</ul>
<button  class="btn btn-primary" (click)="buy()">Buy</button>