

    
 
        

  <div class="row " >  
    <div class="col-sm" *ngFor="let product of products ">
      <h1>{{ product.name }}</h1>
           
  <img class="w-50 img " src="{{product.url}}"/> <br>
  <!-- <input type="number" [(ngModel)]="num"> -->
  <button class="btn btn-primary"(click)="submit(product.id,product.name,product.price,num)" >{{product.price }}</button> 
  <input  type="number" [(ngModel)]="num" name="num" id="" >
    </div>
   
    <!-- <div class="col-sm">
      <h1>{{ product.name }}</h1>
           
  <img class="w-100" src="{{product.url}}"/> <br>
<button class="btn btn-primary">{{product.price }}</button> 
    </div> -->
    <!-- <div class="col-sm">
      <h1>{{ product.name }}</h1>
           
      <img class="w-100 " src="{{product.url}}"/> <br>
    <button class="btn btn-primary">{{product.price }}</button> 
    </div> -->
  </div>

  
        
       <router-outlet></router-outlet>





