img {
    width:200px; 
    height: 200px;
}
.b{
    width: 100px;
    margin-top: 8%;
    position: absolute;
    left:20%;
}
.b1{
   width: 100px;
  
}
.center {
    text-align: center;
    margin: auto;
}
h1{
    position: relative;
    left:30px
}
.search{
    width:300px;
    position: relative;
    left:39%;
}
.search2{
    position: relative;
    left:39%;
    width: 300px;
}
.h12{
    
    left:30px
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.cmargin{
    margin-bottom: 60px;
}