<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" *ngIf="!user"  routerLinkActive="active">Shoppy</a>
  <a class="navbar-brand" *ngIf="user" href="/products" routerLinkActive="active">Shoppy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="!user">
        <a class="nav-link"   href="/signin" routerLinkActive="active">Sign In </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link"   routerLink="/user/signup" routerLinkActive="active">Sign Up</a>
      </li> -->
      <!-- <li class="nav-item" *ngIf="user">
     <a  class="nav-link"   routerLink="/signin"  routerLinkActive="active" (click)="logout()">Log out</a>
      </li> -->
      <li class="nav-item">
        <a  class="nav-link" *ngIf="user"  href="/cart"  routerLinkActive="active" ><i class="fa fa-shopping-cart " aria-hidden="true"></i>
        </a>
    
      </li>
      <li class="nav-item dropdown" routerLinkActive="active" *ngIf="user"> 
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#"  (click)="logout()" >logout</a>
          <a class="dropdown-item" routerLink="/profile" >Edit Profile</a>
          
        </div>
      </li>
    </ul>
  </div>
</nav>
  

<router-outlet></router-outlet>