
<form  (ngSubmit)="submit()">
     
  <div class="form-row"  >
       
    <div class="col-md-4 mb-3" >
        <label for="name">Name</label>
        <input [(ngModel)]="name" name="name" type="text" class="form-control" id="name" value="name" >
       
      </div>  
    
    
      <div class="col-md-4 mb-3">
        <label for="lastname">Surname</label>
        <input [(ngModel)]="lastName" name="lastName" type="text" class="form-control" id="lastName" value="lastName">
      </div>
      <div class="col-md-4 mb-3" >
        <label for="phone">Phone</label>
        <input [(ngModel)]="phone" name="phone" type="text" class="form-control" id="phone" value="phone" >
        
      </div>
      <div class="col-md-6 mb-4" >
        <label for="email">email</label>
        <input [(ngModel)]="email" name="email" type="text" class="form-control" id="email" value="email" >
        
      </div>
      <div class="col-md-6 mb-4" >
        <label for="address">Address</label>
        <input [(ngModel)]="address" name="address" type="text" class="form-control" id="address" value="address" >
        
      </div>
    </div>
    <div class="text-center"><button   class="btn btn-info w-25" type="submit"> Edit</button></div> 
  </form>
